.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: block;
}


*[data-diagram] {
    display: inline-block;
    width: 100%;
    height: 100%;
    order: 2;
    flex: 1;
    /* position: fixed; */
}


@media screen and (max-aspect-ratio: 13/14) {
    :root {
        --wc_radius : 32
    }
    *[data-diagram] {
        height: 50vh;
        width: 80vw;
    }
}

.left {
    float: left;
    margin-right: .25em;
}
.right {
    float: right;
    margin-left: .25em;
}

@media screen and (max-width: 768px) {
    .s1 {
        display: none;
    }
}

.shiny {
    color: rgb(34, 38, 48);
    position: relative;
    overflow: hidden;
  }

.shiny::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(var(--y, 0) * 1px - 50px);
    left: calc(var(--x, 0) * 1px - 50px);
    width: 100px;
    height: 100px;
    background: radial-gradient(rgba(221, 218, 252, .3), #00000000 80%);
    opacity: 0;
    transition: opacity 0.2;
  }
  
.shiny:hover::after {
    opacity: 0.3;
}