* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Helvetica, sans-serif;
    -ms-overflow-style: none;
    scrollbar-gutter: auto;
}

:root {
    --bg : rgb(247,240,223);
    --thumb_bg : rgba(255, 255, 255, 0.35);
}

html {
    background-color: var(--bg);
    transition: background-color .7s ease-in-out;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: var(--track_bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--thumb_bg);
}